<h1>{{name}} </h1>

<dl>
  <td>Nombre: </td>
  <dd> {{name}} </dd>

  <td>Edad: </td>
  <dd> {{age}} </dd>

  <td>Método: </td>
  <dd> {{getHeroDescription()}} </dd>

  <td>Capitalizado: </td>
  <dd>{{capitalizableName}}</dd>
</dl>

<button
class="btn btn-primary mx-2"
(click)="changeHero()"
*ngIf="name!=='Spiderman'">Cambiar nombre</button>

<!--Mostrar u ocultar boton *ngIf="true/false"-->

<button class="btn btn-success" (click)="changeAge()"
*ngIf="age!==25">Cambiar edad</button>

<button class="btn btn-warning" (click)="resetForm()">Reset</button>
